*{
box-sizing: border-box;
}
nav img{
    width: 300px;
    height: 300px;
}
.social-links img{
    height: 50px;
    height: 50px;
}
nav{
    background: linear-gradient(90deg, #9333ea, #f97316);

}